{% extends 'base.html.twig' %}

{% block title %}Koababi | Modification du mot de passe{% endblock %}

{% block body %}

<div class="container">  
    <h1>Modifier mon mot de passe</h1>
    <a href="{{path('account')}}"><strong> <- Retour à mon compte</strong></a></br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-form">
        {{form(form)}}
    </div>
</div>
{% endblock %}
