{% extends 'base.html.twig' %}

{% block body %}
<div class="block-small container-form">
    <h1>Réinitialiser votre mot de passe</h1>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form)}}
</div>
{% endblock %}
