{% extends 'base.html.twig' %}

{% block title %}Koababi | CGV {% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Conditions générales de vente Koababi</h1>

    
    <div>
       <p>
                1) Objet
            

            Les présentes conditions générales de vente sont conclues entre :

            La société SAS OKAIDI au capital de 2.928.240 €

            162 Boulevard de Fourmies
            59100 Roubaix
            immatriculée au RCS de Lille Métropole sous le n°398 110 445

            Ci-après « OKAIDI »

            et

            Toute personne physique visitant et/ou souhaitant effectuer un achat via le site internet www.okaidi.fr ; ce site est accessible via les urls www.okaidi.fr et www.obaibi.fr.

            Ci-après « l'Utilisateur »

            

            Les présentes conditions visent à définir les modalités de vente à distance entre OKAIDI et l’utilisateur, de la commande au paiement et à la livraison. Elles règlent toutes les étapes nécessaires à la passation de la commande et assurent le suivi de cette commande entre les parties contractantes.

            La commande implique l’adhésion irrévocable aux conditions générales de vente. Les conditions générales pouvant faire l’objet de modifications, les conditions applicables sont celles en vigueur sur le site www.okaidi.fr à la date de passation de la commande par l’utilisateur.

            L’utilisateur déclare :
            - avoir la capacité de conclure le présent contrat,
            - ne pas procéder à des achats de produits dans le but de les revendre,
            - ne pas être commerçant.

            

            2) Produits
            

            Les produits proposés à la vente par OKAIDI sont ceux figurant sur le site www.okaidi.fr, au jour de la consultation du site par l’utilisateur,  Les Produits sont proposés dans la limite des stocks disponibles.

            On entend par « Produit Volumineux », tout article dont la taille justifie un envoi par colis séparés systématique, à savoir une dimension supérieure à 130 cm, ou dont le poids est supérieur ou égal à 30 kg, ou dont la somme totale des dimensions dépasse 200 cm.

            

            En complément des photographies reproduites et illustrant les Produits présentés, l’Utilisateur est invité à consulter le descriptif de chaque produit pour en connaître les caractéristiques.

            OKAIDI s’engage à reproduire les produits le plus fidèlement possible. Toutefois, un léger décalage par rapport aux visuels de présentation ne peut être complètement exclu.


            L'achat d'une Carte Cadeau n'est pas possible sur le site www.okaidi.fr et se fera uniquement dans les magasins OKAIDI de France métropolitaine. 

            

            3) Prix
            

            Les prix sont présentés en euros TTC incluant la TVA et hors frais de livraison qui restent à la charge de l’Utilisateur sauf conditions particulières. Les frais de livraison sont indiqués lors du passage de la commande, et déterminés selon les modalités de l’article 7.

            Les prix indiqués tiennent compte de la TVA applicable au jour de la commande. Si le taux venait à être modifié, ces changements pourraient être répercutés sur le prix des articles sans que l’utilisateur en soit préalablement informé.

            OKAIDI se réserve le droit de modifier ses prix à tout moment. Les produits seront facturés sur la base des tarifs en vigueur au moment de l’enregistrement de la commande.

            

            4) Commande
            

            Toute commande vaut acceptation expresse et irrévocable des prix et des descriptions des produits disponibles à la vente. Toute contestation sur ce point interviendra dans le cadre d’un éventuel échange et des garanties ci-dessous mentionnées.

            

            4.1 : Validation du panier
            

            L’Utilisateur sélectionne les Produits qu’il souhaite commander en cliquant sur la case « Ajouter au panier ». Les Produits sélectionnés sont par la suite répertoriés dans l’onglet « Panier ».

            

            L’Utilisateur peut ainsi vérifier dans cet onglet les détails de sa commande (exemple : les Produits, les quantités, le prix, la taille, la couleur).

            

            A cette étape, l’Utilisateur se voit proposer plusieurs options

            Si l’Utilisateur détient un code promo, il est invité à le saisir en cochant la case « J’ai un code promo » avant de valider son panier.
            Si l’Utilisateur ne s’est pas encore connecté à son compte client, il sera invité à se connecter ou à créer son compte avant de valider son panier.
            Si l’Utilisateur n’a pas encore adhéré au programme de fidélité, il peut effectuer son adhésion avant de valider son panier.
            

            Une fois les informations vérifiées et/ou ajustées, l’Utilisateur peut poursuivre sa commande en cliquant sur la case « Choisir ma livraison ».

            

            4.2 Création d’un compte Utilisateur
            

            Pour créer un compte Utilisateur, il sera demandé à l’Utilisateur de compléter un formulaire et de communiquer les informations obligatoires suivantes : civilité, nom, prénom, adresse mail, adresse postale.

            

            Pour connaître les modalités de traitement des données susvisées, l’Utilisateur peut consulter la rubrique Données personnelles.

            

            S’il le souhaite, l’Utilisateur pourra de nouveau se connecter à son compte lors de ses prochaines visites grâce aux identifiants fournis (adresse mail et mot de passe).

            

            4.3 : Choix du mode de livraison et du moyen de paiement
            

            Une fois validé, l’Utilisateur est amené à renseigner le mode de livraison qu’il souhaite, conformément à l’article 7 des présentes Conditions Générales de Vente.

            

            L’Utilisateur sélectionne ensuite son moyen de paiement, conformément à l’article 5 des présentes Conditions Générales de Vente. Afin de permettre à l’Utilisateur de revenir sur sa commande avant de la valider définitivement, OKAIDI a créé des écrans de validation et d’acceptation. La commande ne sera définitivement enregistrée qu’à la dernière validation de l’écran de paiement de la commande (par carte bancaire ou sur compte Paypal). A compter du dernier clic d’acceptation, la commande est considérée comme irrévocable.

            

            4.4 : Suivi de la commande
            

            Un premier courrier électronique récapitulant les choix de l’Utilisateur et les produits commandés est envoyé dès la validation du paiement de la commande. Un second courrier électronique récapitulant les produits expédiés et facturés est envoyé lors de l’expédition de la commande.

            

            L’indisponibilité d’un Produit sera donc signalée indirectement à l’acheteur sur cet e-mail. La commande pour le ou les produits indisponible(s) de l’Utilisateur sera automatiquement annulée. Aucun débit du ou des produits indisponible(s) ne sera effectué pour les paiements par carte bancaire ou privative.

            

            Une fois la commande validée sur le site, l’Utilisateur peut à tout instant en suivre son traitement. A cet instant, la commande n’est plus modifiable, (produit, quantité, mode livraison, etc.)

            

            Pour bénéficier de ce service, il suffit à l’Utilisateur de se connecter à son compte sur le site et d’accéder à la rubrique « suivi de commande » :

            Commande enregistrée : votre paiement par carte bancaire a été validé.
            Commande en préparation : votre commande est en cours de préparation dans nos entrepôts.
            Commande expédiée : en fonction de votre choix de livraison, votre commande a été déposée et est à votre disposition dans le point de retrait que vous avez sélectionnée lors de votre commande (vous avez accès au numéro de suivi de votre commande pour en suivre l’acheminement).
            

            Pour avoir plus d’informations sur le passage, le suivi ou l’exécution de votre commande, de questions sur les délais de livraison, les conditions d’exercice de votre droit de rétractation ou toute autre question, l’Utilisateur peut contacter OKAIDI depuis • La France au 09 69 39 23 90 (coût d’un appel local)

            

            5) Paiement
            

            5.1 : Les différents moyens de paiement
            

            La commande passée sur le site www.okaidi.fr peut être réglée par carte bancaire. Nous acceptons :

            Carte Bleue

            Carte Visa

            Mastercard

            Compte Paypal : Paypal est un moyen facile, rapide et sécurisé pour payer ses achats en ligne sans renseigner ses données bancaires. L’Utilisateur peut également régler de façon sécurisée par avis de débit Paypal

            Carte cadeau (Okaïdi – Obaïbi – Oxybul – Idkids) : sous réserve de sa validité, la carte cadeau est acceptée comme moyen de paiement. Elle peut être utilisée en une fois et peut être complétée par tout autre moyen de paiement ou par une autre carte cadeau. Le paiement d'une commande ne peut se faire qu'avec 2 cartes cadeaux maximum.

            Avantage fidélité : sous réserve de sa validité (ex : date d’expiration et montant d’achat minimum), le chèque fidélité est accepté comme moyen de paiement, utilisable en une seule fois, dans la limite de 3 avantages par commande. L’Utilisateur pourra régler le complément par carte bancaire, carte cadeau ou Paypal. Toutefois, ce moyen de paiement n’est proposé que si vous disposez effectivement d’un chèque fidélité ( Rubrique programme fidélité )

            

            Le montant n’est débité du compte de l’Utilisateur qu’en fonction des produits réellement expédiés. Le bon de livraison sera inséré dans le colis contenant le produit commandé. L’Utilisateur ayant effectué une commande aura la possibilité d’imprimer sa facture en se connectant sur le site, dans l’espace suivi de commande prévu à cet effet.

            

            6) Réservation en Magasin

            OKAIDI propose à l’Utilisateur de réserver un Produit en magasin via le site www.okaidi.fr 


            Le service de réservation du Produit dans la boutique sélectionnée par l’Utilisateur est un service gratuit. 

            

            L’Internaute peut réserver un maximum de :

            10 produit(s) en simultané

            1 quantité d’un même produit

            

            

            Dès validation, de la part du Client, de sa réservation du ou des Produit(s) sur le Site, le magasin sélectionné prendra contact avec le Client par téléphone, dans un délai maximum de 1 jour ouvré. L’appel aura pour objectif de confirmer au Client, la disponibilité du ou des Produit(s) sélectionné(s). A ce stade, le Client n’a aucune obligation d’achat et reste libre de continuer ou d’annuler la réservation en cours. 

            

            Si le Client souhaite confirmer sa réservation, le magasin invitera le Client à procéder au paiement de cette dernière, avant le retrait de sa commande en magasin, et ce pour respecter des règles sanitaires conformes au COVID 19. A ce titre, un e-mail sera envoyé au Client, lequel inclura un lien de redirection vers une plateforme de paiement sécurisé. Le Client sera, par la même occasion, invité à accepter les présentes Conditions Générales de Vente. 

            

            Le prix à payer sera celui mentionné lors de son processus de réservation sur le Site et dans les e-mails reçus après confirmation du magasin. Si l’Utilisateur bénéficie d’un code promotionnel applicable sur les Produits, la remise sera appliquée par le magasin lors du paiement (hors code promotionnel valable uniquement sur https://www.okaidi.fr )

            

            Le magasin, qui restera en ligne avec le Client, répondra à toutes les éventuelles questions de ce dernier. 

            

            Dès validation du paiement, le Client sera invité par le magasin, à venir retirer son Produit parmi les différents créneaux horaires proposés, en tenant compte des mesures sanitaires imposées par le COVID 19. 

            

            Lors de fortes périodes d’affluence, OKAIDI se réserve le droit de moduler les modalités de réservation en magasin. Par ailleurs,OKAIDI se réserve le droit de suspendre le service de réservation en magasin pour une durée non définie.  Pour en savoir davantage sur les modalités de réservation en magasin, l’Utilisateur est invité à prendre connaissance des « CONDITIONS GENERALES D’UTILISATION E-RESERVATION ». Ces conditions sont disponibles lors de la procédure d’e-réservation, au bas de l’onglet « COORDONNEES ». L’Utilisateur déclare avoir pris connaissance et accepté lesdites conditions en cochant la case « J’accepte les conditions générales d’utilisation ».

            

            7) Sécurisation du paiement - Fraude
            

            Afin d’assurer la sécurité des paiements, la société OKAIDI utilise le service de paiement sécurisé HiPay. Les données bancaires sont cryptées (norme de sécurité SSL) et ne circulent donc pas en clair sur le réseau internet. L’interface de paiement de Sogenactif fait appel à la technologie 3D secure. Il s’agit d’un système élaboré par les deux réseaux de cartes bancaires Visa et MasterCard pour authentifier les porteurs de cartes bancaires et éviter ainsi toute utilisation frauduleuse de ces dernières. En plus du numéro, de la date de validité et du cryptogramme, avec le système 3D Secure, le porteur de la carte doit s’authentifier sur une interface de sa banque vers laquelle il est automatiquement rédirigé, en y renseignant un code ou une information personnelle que sa banque lui aura transmis au préalable. Une fois authentifié, le porteur verra sa transaction autorisée ou refusée par sa banque.

            

            Il est rappelé à l’Utilisateur que la fraude à la carte de paiement est un délit sanctionné par l’article L. 163-3 du Code monétaire et financier :

            

            " Est puni d’un emprisonnement de sept ans et d’une amende de 750 000 euros le fait pour toute personne :

            De contrefaire ou de falsifier un chèque ou un autre instrument mentionné à l’article L. 133-4 ;
            De faire ou de tenter de faire usage, en connaissance de cause, d’un chèque ou un autre instrument mentionné à l’article L. 133-4 contrefaisant ou falsifié ;
            D’accepter, en connaissance de cause, de recevoir un paiement au moyen d’un chèque ou d’un autre instrument mentionné à l’article L. 133-4 contrefaisant ou falsifié. »
            

            8) Frais de port, conditions et délais de livraison
            

            8.1 : Les différents modes de livraison proposés

             

            Article 8.2 : Spécificités selon le mode de livraison
            

            Les spécificités de chaque mode de livraison exposés dans le tableau ci-dessus sont disponibles sur le site www.okaidi.fr dans la rubrique « La livraison ».
            La livraison express a domicile peut être suspendue en période de forte affluence.

            

            Article 8.3 : Délais de traitement et livraison
            

            Sauf cas de force majeure, les délais de livraison seront, dans la limite des stocks disponibles, ceux indiqués ci-dessous. La responsabilité d’OKAIDI ne sera pas engagée en cas de retard de livraison, et ce pour quelque cause que ce soit. Par conséquent, aucune demande d’indemnisation de quelque nature que ce soit, ne pourra être réclamée par l’Utilisateur à OKAIDI.

            

            En cas de manquement de la part d’OKAIDI à son obligation de livraison à la date ou à l’expiration du délai indiqué, ou à défaut, au plus tard trente jours après la conclusion du contrat, l’Utilisateur est en droit de résilier sa commande en envoyant une lettre recommandée avec accusé de réception à la société OKAIDI, conformément à l’article L. 216-2 du Code de la consommation. Par ailleurs, lors de période de soldes, promotions ou ventes privées et en raison du nombre important de commandes à traiter durant ces périodes, les délais de traitement de commande peuvent être plus longs.

            

            Après avoir sélectionné le mode de livraison, l'Utilisateur indique ou sélectionne l'adresse à laquelle sa commande sera livrée. Après validation de la commande, cette adresse ne pourra en aucun cas être modifiée postérieurement.

            

            8.4 Conditions de retrait
            

            Une fois le colis disponible dans le point de retrait choisi, l’Utilisateur sera informé par mail ou par SMS de sa disponibilité. Pour effectuer son retrait, l’Utilisateur devra présenter une pièce d’identité. L’Utilisateur devra également présenter la facture ou l’email de confirmation de sa commande. Toute personne tierce qui voudrait venir retirer la commande de l’Utilisateur devra présenter, outre la facture ou l’email de confirmation, sa propre pièce d’identité, mais également l’original de la pièce d’identité de l’Utilisateur

            

            Dans l’hypothèse où le client ne viendrait pas récupérer sa commande dans les délais de mise à disposition tels que mentionnés à l’article 7.1, la commande sera automatiquement retournée à OKAIDI à l’issue de ce délai. Pour procéder au remboursement, le client contacte le service clients.

            

            Il est précisé à l'Utilisateur les points suivants s'agissant des livraisons :

            Pour les livraisons en Relais Colis, le délai s'entend hors dimanche et lundi

            Pour les livraisons en 48h, le délai est compté en jours ouvrés (hors samedi et dimanche)

            Pour le retrait de marchandise en magasin sous 3 à 5 jours, le délai est compté en jours ouvrés (hors samedi et dimanche)

            Pour les livraisons des produits volumineux : Avant toute livraison, le Transporteur prendra contact avec l’Acheteur pour indiquer le jour de passage. Le(s) colis volumineux sera déposé à la porte de votre maison ou en devant la porte d’entrée de votre immeuble.

            Les livraisons sont effectuées du lundi au vendredi de 9 heures à 12 heures, et de 14 heures à 18 heures.

            8.5 Transfert de risques et cas spécifiques

            OKAIDI OBAIBI contrôle uniquement les livraisons effectuées par les membres de son réseau. A ce titre, le risque de perte ou d'endommagement de la marchandise est transféré au consommateur dès la marchandise livrée à l'adresse choisie par ce dernier lors de la passation de commande. Dans l'hypothèse où le consommateur mandate un tiers logisticien afin que ce dernier prenne en charge la marchandise au point de livraison déterminé dans la commande pour l'acheminer jusqu'à un autre lieu, OKAIDI OBAIBI se dédouane de tout risque de perte et d'endommagement des marchandises objets de cette tierce livraison. En outre et dans ce cadre, OKAIDI OBAIBI décline toute responsabilité de non-conformité des marchandises aux réglementations et normes applicables au sein des pays destinataires desdites livraisons, qui ne feraient pas partie de la liste officielle des pays de distribution des marchandises OKAIDI OBAIBI.

            

            9) Droit de rétractation
            

            9.1 : Informations sur le droit de rétractation de l’Utilisateur

            

            A compter de la date de réception du Produit, l’Utilisateur dispose d’un délai de 30 jours pour exercer son droit de rétractation.

            

            Ce délai de faveur déroge au délai légal de 14 jours mentionné à l’article L. 212-20-12 du Code de la consommation. Les échanges et remboursements seront uniquement acceptés pour les Produits non portés, non lavés, avec leurs étiquettes et dans leur emballage d’origine

            

            Par ailleurs, et conformément à l’article L. 221-18 du Code de la consommation, les échanges ou remboursements ne seront pas acceptés pour les produits d’hygiène, les peignoirs, les maillots de bain et les sous-vêtements.

            

            9.2 Retours et échanges

            

            Suite à l’exercice du droit de rétractation par l’Utilisateur (article…), ou en cas de constatation de la non-conformité ou d’un vice affectant les Produits commandés (article ...), l’Utilisateur peut retourner les Produits commandés selon les modalités suivantes :




            L’Utilisateur peut exercer son droit de rétractation, avant l’expiration du délai susvisé :





            

            En récupérant, en ligne dans les CGV, le formulaire de rétractation mis à sa disposition par OKAIDI téléchargeable à l’adresse suivante : en cliquant ici.
            Ou en remplissant le formulaire de rétractation qui lui sera envoyé sous format électronique joint à son bon de commande
            Ou encore adressant à OKAIDI toute autre déclaration exprimant sans ambiguïté sa volonté de se rétracter par voir postale à l’adresse suivante :
            OKAIDI - Service Retour WEB
            Entrepôt IDLOG – OKAIDI/OBAIBI
            15 rue PICAVET
            59115 LEERS

            

            Cette déclaration peut prendre la formule suivante :

            

            À l’attention de OKAIDI, TSA 27000 - 59071 ROUBAIX CEDEX1;

            Je/Nous (*) vous notifie/notifions (*) par la présente ma/notre (*) rétractation du contrat portant sur la vente du bien (*) ci-dessous

            Commandé le (*)/reçu le (*)

            Commande numéro (*)

            Nom du (des) consommateur(s)

            Adresse du (des) consommateur(s)

            Signature du (des) consommateur(s) (uniquement en cas de notification du présent formulaire sur papier)

            Date

            

            Le formulaire doit être accompagné des produits que l’Utilisateur retourne.

            

            10) Protection des données personnelles
            

            La société OKAIDI SAS , responsable du traitement, collecte des données personnelles obligatoires signalées par un astérisque. Ces données collectées sont nécessaires pour le traitement, le suivi et la livraison de votre commande, ainsi qu’à l’établissement des factures. D’autre part, ces données peuvent être nécessaires pour adresser, des offres, des actualités ou des publicités personnalisées ou non, uniquement en cas d’acceptation de celles-ci. Enfin, elles peuvent également être nécessaires à la gestion de votre adhésion au programme de fidélité Okaidi. Elles pourront être utilisées pour la réalisation d’analyses statistiques.

            

            La société OKAIDI SAS assure prendre toutes les mesures nécessaires, conformément aux dispositions légales applicables, pour assurer la protection, la confidentialité et la sécurité de vos données personnelles.

            

            Conformément à la loi Informatique et Libertés du 6 janvier 1978 et au Règlement Général sur la Protection des Données (RGPD) du 14 Avril 2016, vous bénéficiez d’un droit d’accès, d’édiction des directives anticipées, de rectification, d’opposition, d’effacement, de portabilité ou de limitation aux traitements de données vous concernant. Vous pouvez exercer vos droits en écrivant à OKAIDI

            

            Service clients - 162 boulevard de Fourmies– 59100 ROUBAIX ou par le biais de notre formulaire de contact.

            Veuillez noter que dans le cadre de l’exercice des droits par les demandeurs, notre Service Client pourra être amené à vérifier l’identité desdits demandes en requéant possiblement la copie d’une pièce d’identité en cours de validité.

            

            Pour en savoir d’avantage sur ces droits, l’utilisation et la protection de ces données, l’Utilisateur peut se reporter à la rubrique données personnelles .

            

            11) Cookies
            

            Lors de la consultation du site www.okaidi.fr, des cookies sont déposés sur l’ordinateur, le mobile ou la tablette de l’Utilisateur.

            

            Qu’est-ce qu’un cookie ? Un cookie est un fichier texte déposé lors de la visite d’un site ou de la consultation d’une publicité. Il a pour but de collecter les informations relatives à votre navigation et de vous adresser des services adaptés à votre terminal, afin d’améliorer votre expérience de navigation. C’est entre autres pour cela que nous faisons usage de cookies afin par exemple de vous identifier et d’accéder à votre compte.

            

            Pour en savoir davantage sur l’utilisation et la gestion des cookies, l’Utilisateur peut se reporter à la rubrique « Cookies ».

            

            12) Propriété intellectuelle
            

            Tous les éléments du site OKAIDI, visuels ou sonores, sont protégés par le droit d’auteur et des marques. Ils sont la propriété exclusive de la société OKAIDI.

            L’intégralité de ce site est protégée par les législations françaises et internationales relatives à la propriété intellectuelle. Tous les droits de reproduction sont réservés.

            L’ensemble des textes composant les pages de ce site ne peut, conformément aux dispositions du code de la propriété intellectuelle, faire l’objet d’une quelconque représentation ou reproduction, intégrale ou partielle, sur quelque support que ce soit, sans l’autorisation expresse et préalable d’OKAIDI. De même, les marques, noms commerciaux et logos figurant sur ce site sont déposés. Leur reproduction totale ou partielle, effectuée à partir des éléments du site est prohibée.

            L’Utilisateur qui dispose d’un site internet à titre personnel et qui désire placer, pour un usage personnel, sur son site un lien simple renvoyant directement à la homepage du site de la marque OKAIDI, doit obligatoirement en demander l’autorisation à la société OKAIDI. Tout autre lien quel qu’il soit (notamment en utilisant la technique du framing ou du in-line linking) est exclu.

            

            13) Responsabilité
            

            OKAIDI est responsable de la bonne exécution des obligations résultant des présentes Conditions Générales de Vente.

            OKAIDI ne sera toutefois pas responsable de la non-exécution totale ou partielle de ses obligations au titre du présent contrat, si cette non-exécution résulte, soit de l’Utilisateur, soit d’un cas de force majeure (article 1218 du Code civil).

            La responsabilité d’OKAIDI ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l’utilisation du réseau internet, notamment une rupture du service, une intrusion extérieure ou la présence de virus informatiques, ou de fait qualifié de force majeure, conformément à la jurisprudence.

            Les Parties conviennent de ses concerter dans les meilleurs délais afin de déterminer les modalités de traitement de la commande pendant la durée du cas de force majeure.

            Au-delà d’un délai d’un (1) mois d’interruption pour cas de force majeure, les Parties seront libérées de leurs obligations l’une envers l’autre. Le cas échéant, OKAIDI remboursera à l’Utilisateur le montant de sa commande dans les meilleurs délais

            

            14) Garantie légale
            

            L'Utilisateur bénéficie de la garantie des vices cachés et de conformité conformément aux dispositions des articles 1641 à 1649 du code civil et des articles L.217-4 à L.217-14 du Code de la consommation pour obtenir en justice la réparation ou le remplacement du bien et si impossible, la résolution ou la réduction du prix.

            Article 14.1 Garantie légale de conformité

            Article L217-4 du code de la consommation
            ‘Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance.

            Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité’

            

            Article L217-5 du code de la consommation
            ‘Pour être conforme au contrat, le bien doit :

            1° être propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :

            - correspondre à la description donnée par le vendeur et possèder les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;

            - présenter les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;

            2° Ou présenter les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté’

            Article L217-9 du code de la consommation
            ‘En cas de défaut de conformité, l'acheteur choisit entre la réparation et le remplacement du bien.

            Toutefois, le vendeur peut ne pas procéder selon le choix de l'acheteur si ce choix entraîne un coût manifestement disproportionné au regard de l'autre modalité, compte tenu de la valeur du bien ou de l'importance du défaut. Il est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par l'acheteur.’


            Article L217-11 du code de la consommation
            ‘L'application des dispositions des articles L. 217-9 et L. 217-10 a lieu sans aucun frais pour l'acheteur’

            Article L217-12 du code de la consommation
            « L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien ».


            Article 14.2 Garantie légale contre les vices cachés

            « Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus ».

            Article 1643 du code civil
            Il est tenu des vices cachés, quand même il ne les aurait pas connus, à moins que, dans ce cas, il n'ait stipulé qu'il ne sera obligé à aucune garantie.

            Article 1644
            Dans le cas des articles 1641 et 1643, l'acheteur a le choix de rendre la chose et de se faire restituer le prix, ou de garder la chose et de se faire rendre une partie du prix.Article 1648 alinéa 1 du code civil
            « L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice ».

            

            15) Avis clients
            

            Conditions d'utilisation du service à l'attention des utilisateurs

            Okaidi permet à l'Utilisateur de formuler un avis sur un produit qu'il a acheté. Cet avis apparaîtra alors sur la fiche produit du produit concerné et restera visible auprès des Internautes pendant toute la période de vente dudit produit. L’affichage des avis se fait en ordre chronologique par défaut. L’avis contiendra la date d’expérience de l’Utilisateur déposant son avis et fait mention de la date d’expérience de l’Utilisateur.

            

            L'Utilisateur souhaitant donner son avis sur un ou plusieurs produit(s) doit être identifié auprès d’Okaidi, il doit alors disposer d'identifiants Okaidi afin de pouvoir formuler et soumettre son avis sur un produit. Par ailleurs, seul un majeur est autorisé à formuler un avis produit. Dans un souci de transparence, tous les avis clients sont lus et modérés en toute indépendance par notre partenaire Bazaarvoice, certifié par l’AFNOR. Il est précisé ici que seul le contenu relatif aux attributs du produit sera publié. Seront notamment exclus les avis dont le contenu est relatifs :

            A la commande et à son suivi (livraison, échanges, retours, remboursement...).

            Aux problèmes techniques rencontrés sur le site.

            Aux comparaisons avec d'autres points de vente et notamment concurrents.

            A toute question (demande de partenariats, contact fournisseurs...) non relative aux attributs du produit.

            A tout ce qui est contraire à l'ordre public et aux bonnes mœurs.

            A tout terme pouvant être interprété comme une injure ou diffamation à l'encontre de l'auteur ou de toute autre personne physique ou morale.

            A toute interpellation mettant en cause la sécurité des produits (ces avis feront l’objet d’une prise en charge systématique par notre service clients).

            

            De ce fait, OKAIDI :

            

            peut librement maintenir un avis déposé sur son site internet, ou le supprimer en vous y indiquant les motifs de ce rejet
            n'est aucunement tenu de publier l'avis de l'Utilisateur ou d'indemniser l'Utilisateur pour la non publication d'un avis, la publication et le maintien d'un avis étant au choix discrétionnaire d’OKAIDI. Toutefois en cas de rejet de l’avis, l’Utilisateur aura connaissance par tout moyen approprié, des motifs de son rejet.
            

            L'Utilisateur déclare et accepte expressément que l'utilisation du formulaire avis client afin d'émettre un avis sur un produit Okaidi emporte cession au profit d’Okaidi des droits de reproduction, d'adaptation et de divulgation de cet avis sur le site internet de la marque Okaidi ou sur tout support de communication librement choisi par Okaidi.

            Il est par ailleurs précisé ici qu’Okaidi se réserve le droit de divulguer en plus de l'avis en tant que tel formulé par l'Utilisateur toutes les informations renseignées et/ou validées par l'Utilisateur lors du dépôt d'avis.

            Lors de la formulation et de la validation d'un avis, l'Utilisateur peut être amené à renseigner et/ ou valider certaines données personnelles. Il est précisé ici que les données personnelles recueillies ne serviront pas à des fins commerciales.

            Les informations recueillies sont en effet nécessaires pour permettre à Okaidi de garantir le sérieux des avis formulés et pour améliorer les services offerts par Okaidi à ses clients.

            Enfin, conformément à la règlementation en vigueur, vous disposez d'un droit d'accès, d’édiction des directives anticipées, de rectification et d'opposition aux traitements de données personnelles vous concernant. Il vous suffit de nous écrire à :

            OKAIDI SAS – Service clients - 162 boulevard de Fourmies, 59100 ROUBAIX ou par le biais de notre formulaire de contact ou cliquez ici

            en indiquant vos nom, prénom, adresse e-mail, et en joignant une copie de votre pièce d’identité. Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d'un titre d'identité portant votre signature et préciser l'adresse à laquelle doit vous parvenir la réponse.

            L'utilisateur peut également consulter ou modifier ses données personnelles dans son compte. Pour plus d’informations sur vos données personnelles, vous pouvez consulter la rubrique « données personnelles ».

            

            16) Intégralité
            

            Dans l’hypothèse où l’une des clauses du présent contrat serait nulle et non avenue par un changement de législation, de réglementation ou par une décision de justice, cela ne saurait affecter la validité et le respect des présentes conditions générales de vente.

            

            17) Durée
            

            Les présentes conditions s’appliquent pendant toute la durée de mise en ligne des services offerts par OKAIDI.

            

            18) Droit applicable-Litiges
            

            Les présentes conditions générales de vente sont soumises à la législation française.

            

            Les différends qui viendraient à se produire à propose de la validité, l’interprétation, l’exécution ou la cessation des présentes Conditions Générales de Vente seront soumis à la compétence des tribunaux français, nonobstant pluralité de défendeurs et/ou appel en garantie, même pour les procédures d’urgence ou les procédures conservatoires en référé ou par requête. Le tribunal compétent en cas de litige sera celui du lieu du défendeur.

            

            Par ailleurs, conformément aux dispositions du Code de la Consommation, le client a le droit de recourir gratuitement au service de médiation proposé par OKAIDI dès lors qu'un tel litige n'a pas pu être réglé dans le cadre d'une réclamation préalable directement introduite auprès du service Client d’OKAIDI.

            

            Le médiateur « droit de la consommation » ainsi proposé est la "CM2C". Ce dispositif de médiation peut être joint par :

            Voie électronique : cm2c@cm2c.net

            Ou par voie postale : CM2C, 14 rue Saint Jean 75017 Paris

            

            Plateforme européenne de règlement de litiges :

            Conformément au Règlement Européen 524/2013, la société OKAIDI SAS vous informe de l’existence d’une plateforme européenne de règlement des litiges en ligne entre e-commerçants et consommateurs : http://ec.europa.eu/consumers/odr/

 
       </p>
        
    </div>
</div>
{% endblock %}
